.logo{
    width: 100px;
    height: 100px;
    margin: auto;
}
.header{
    margin: .5rem;
}
.title{
    font-size: large;
    font-weight: bold;
}
.logout{
    margin-left: auto;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100px;
    margin-right: 1rem;
    font-weight: 500;
    background-color: red;
    color: white;
}